h2 {
    color: #006e90;
    font-size: 0.9em;
    line-height: 2em;
    margin: 0;
    padding: 0 0.2em 0 0.2em;
    text-transform: uppercase;
}

ul {
    font-size: 0.8em;
    list-style: none;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}