/* Colours:

https://coolors.co/006e90-f18f01-adcad6-99c24d-4dd2f1

Sea blue: 006e90
Tangerine: f18f01
Pastel blue: adcad6
Android green: 99c24d
Medium turquoise: 4dd2f1
*/

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40px;
}

.App-header {
    background-color: #222222;
    color: white;
    height: 40px;
    padding: 20px;
    text-align: center;
}

.App .dashboard {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    height: 80vh;
    padding: 1em;
}

.App .dashboard .column {
    align-items: stretch;
    display: flex;
    flex: 1 1 30%;
    flex-flow: column nowrap;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.box {
    background-color: #f6f6f6;
    border: 1px solid #e6e6e6;
    border-bottom: 2px solid #d6d6d6;
    border-radius: 10px;
    flex: 1 1 25%;
    padding: 0.6em 1.8em;
    margin: 0 0.5em 0.5em 0;
}

